/* TOKENS */

:root {
  /* colors */
  --color-silver: #f5f7fa;
  --color-dark-grey: #4d4d4d;
  --color-light-grey: #717171;
  --color-white: #ffff;
  --color-black: #263238;
  --color-black-nav: #18191f;
  --color-primary: #4caf4f;

  /* Shadow */
  --shadow-md: 0 2px 4px 0 #abbed1;

  /* fonts */
  --font-family-heading: "inter", sans-serif;
  --font-family-base: "inter", sans-serif;

  /* font size */
  --font-size-base: clamp(0.75rem, 0.875rem + 0.1vw, 1.125rem);
  --font-size-lg: clamp(1.5rem, 1.75rem + 0.15vw, 2rem);
  --font-size-xl: clamp(1.75rem, 2.25rem + 0.2vw, 2.75rem);
  --font-size-2xl: clamp(3rem, 4rem + 0.25vw, 5rem);

  /* Font weight */
  --font-weight-normal: 400;
  --font-weight-button: 500;
  --font-weight-bold: 600;
  --font-weight-card: 700;

  /* Line Height */
  --lineheight-main-heading: 4.75rem;
  --lineheight-subtitle: 2.75rem;
  --lineheight-article-title: 1.75rem;
  --lineheight-base: 1.25rem;

  /* Spacing */
  --spacing-2xs: 0.25rem;
  --spacing-xs: 0.625rem;
  --spacing-md: 1rem;
  --spaceing-l: 2rem;
  --spacing-lg: 2.5rem;
  --spacing-xl: 3rem;
  --spacing-2xl: 3.125rem;
  --spacing-3xl: 4rem;

  /* Radius */
  --radius-login: 0.375rem;
  --radius-base: 0.25rem;
  --radius-card: 0.5rem;

  /* Container */
  --container-default: 920px;
  --container-wide: 1380px;
}

/* RESET */
*,
*::before,
*::after {
  box-sizing: border-box;
}

*:focus-visible {
  outline: 2px solid var(--color-primary);
  outline-offset: 4px;
}

/* Supprimez toutes les animations et transitions pour les personnes qui préfèrent ne pas les voir */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/** BASES */
html,
body {
  margin: 0;
  padding: 0;
}
body {
  font-family: var(--font-family-base);
  font-size: var(--font-size-base);
  line-height: var(--line-height-base);
  color: var(--color-light-grey);
  background-color: var(--color-white);
}

/* Heding */
h1,
h2,
h3,
h4 {
  font-family: var(--font-family-heading);
  color: var(--color-dark-grey);
  line-height: var(--line-height-heading);
  text-wrap: balance;
}

h1 {
  font-size: var(--font-size-2xl);
}

h1 span {
  color: var(--color-primary);
}

h2 {
  font-size: var(--font-size-xl);
}

h3 {
  font-size: var(--font-size-lg);
}

/* Paragraphe */
p + p {
  margin-top: var(--spacing-md);
  font-size: var(--font-size-base);
}

/* Links */
a {
  color: var(--color-black-nav);
  text-underline-offset: 0.25rem;
}

/* Images */
img {
  max-width: 100%;
  height: auto;
  vertical-align: bottom;
}

svg {
  display: block;
  fill: currentColor;
}

/* Navigation */

nav a {
  padding: var(--spacing-xs) var(--spacing-md);
  text-decoration: none;
}

nav a:hover {
  text-decoration: underline;
}

/* buttons */
button {
  color: var(--color-white);
  border-radius: var(--radius-base);
  text-align: center;
  border: 0;
  line-height: 24px;
  background-color: var(--color-primary);
  padding: 14px 32px;
  font-weight: var(--font-weight-button);
}

header {
  display: flex;
  background-color: red;
  gap: 145px;
}

footer {
  margin-inline: auto;
  background-color: blue;
}

/** LAYOUT */

/* flow */
.flow,
.flow-reverse {
  display: flex;
  flex-direction: column;
}

.flow > *,
.flow-reverse > * {
  flex: 1;
}

@media (min-width: 768px) {
  .flow,
  .flow-reverse {
    flex-direction: row;
    align-items: center;
  }
  .flow-reverse {
    flex-direction: row-reverse;
  }
}

/* Container */
.container,
.container-wide {
  margin-inline: auto;
}
.container {
  max-width: var(--container-default);
}
.container-wide {
  max-width: var(--container-wide);
}

/* Sections */
.section {
  padding: clamp(var(--spacing-xl), 0.0795rem + 4.5455vw, var(--spacing-2xl))
    var(--spacing-lg);
}

/* COMPOSANTS */

.logo {
  padding-left: 145px;
}
.header-nav {
  display: flex;
  text-align: center;
  padding-left: 145px;
}

.login {
  background-color: var(--color-white);
  color: var(--color-primary);
  padding-left: 145px;
}

.login .sing-up {
  color: var(--color-white);
  border-radius: var(--radius-login);
  text-align: center;
  border: 0;
  line-height: 24px;
  background-color: var(--color-primary);
  padding: 10px 20px;
}

.card-title {
  font-weight: var(--font-weight-card);
}

.footer-button {
  background-color: var(--color-silver);
}

.footer-copyright {
  background-color: var(--color-black);
  justify-content: center;
  text-align: center;
  padding: 42px;
  gap: 125px;
}
