/* TOKENS */

:root {
  /* colors */
  --color-silver: #f5f7fa;
  --color-dark-grey: #4d4d4d;
  --color-light-grey: #717171;
  --color-white: #ffff;
  --color-black: #263238;
  --color-black-nav: #18191f;
  --color-primary: #4caf4f;

  /* dark-mode colors */
  --dark-mode-primary: #4caf4f;
  --dark-mode-black: #263238;
  --dark-mode-Lgrey: #89939e;
  --dark-mode-Dgrey: #4d4d4d;
  --dark-mode-grey-blue: #abbed1;

  /* Shadow */
  --shadow-md: 0 2px 4px 0 #abbed1;
  --shadow-dm: 0 2px 4px 0 #4d4d4d;

  /* fonts */
  --font-family-heading: "inter", sans-serif;
  --font-family-base: "inter", sans-serif;

  /* font size */
  --font-size-base: clamp(0.75rem, 0.875rem + 0.1vw, 1.125rem); /*14px*/
  --font-size-lg: clamp(1.5rem, 1.75rem + 0.15vw, 2rem); /*28 px*/
  --font-size-xl: clamp(1.75rem, 2.25rem + 0.2vw, 2.75rem); /*36 px*/
  --font-size-2xl: clamp(3rem, 4rem + 0.25vw, 5rem); /*64px*/

  /* Font weight */
  --font-weight-normal: 400;
  --font-weight-button: 500;
  --font-weight-bold: 600;
  --font-weight-card: 700;

  /* Line Height */
  --lineheight-main-heading: 4.75rem;
  --lineheight-subtitle: 2.75rem;
  --lineheight-article-title: 1.75rem;
  --lineheight-base: 1.25rem;

  /* Spacing */
  --spacing-2xs: 0.25rem;
  --spacing-xs: 0.625rem;
  --spacing-md: 1rem;
  --spaceing-l: 2rem;
  --spacing-lg: 2.5rem;
  --spacing-xl: 3rem;
  --spacing-2xl: 3.125rem;
  --spacing-3xl: 4rem;
  --spacing-big: 6.5rem;

  /* Radius */
  --radius-logins: 0.375rem; /*6px*/
  --radius-base: 0.25rem; /*4px*/
  --radius-card: 0.5rem; /*8px*/

  /* Container */
  --container-default: 920px;
  --container-wide: 1380px;
}

/* RESET */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/** BASES */
html,
body {
  margin: 0;
  padding: 0;
  width: 90rem;
  height: 168.188rem;
}

body {
  font-family: var(--font-family-base);
  font-size: var(--font-size-base);
  line-height: var(--line-height-base);
  color: var(--color-light-grey);
  background-color: var(--color-white);
}

main {
  width: 1441px;
  height: 2011.4px;
  top: 84px;
  gap: 42px;
}

/* Heding */
h1,
h2,
h3,
h4 {
  font-family: var(--font-family-heading);
  color: var(--color-dark-grey);
  line-height: var(--line-height-heading);
  text-wrap: balance;
}

h1 {
  font-size: var(--font-size-2xl);
  line-height: var(--lineheight-main-heading);
}

h1 span {
  color: var(--color-primary);
}

h2 {
  font-size: var(--font-size-xl);
}

h3 {
  font-size: var(--font-size-lg);
}

/* Paragraphe */
p + p {
  margin-top: var(--spacing-md);
  font-size: var(--font-size-base);
  font-weight: var(--font-weight-normal);
}

/* Navigation */

nav a:hover {
  color: var(--color-primary);
  transition: 1000ms;
}

/* header */
header {
  position: fixed;
  display: flex;
  background-color: var(--color-silver);
  align-items: center;
  width: 90.063rem;
  height: 5.25rem;
}

/* buttons */
button {
  color: var(--color-white);
  border-radius: var(--radius-base);
  text-align: center;
  border: 0;
  line-height: 24px;
  background-color: var(--color-primary);
  padding: 14px 32px;
  gap: 10px;
  font-weight: var(--font-weight-button);
}

/*footer */
footer {
  display: flex;
  flex-direction: column;
  padding-top: 42px;
  margin-inline: auto;
  background-color: var(--color-white);
}

/** LAYOUT */

a {
  text-decoration: none;
  color: var(--color-black-nav);
  line-height: 1.5rem;
}

/* flow */
.flow,
.flow-reverse {
  display: flex;
  flex-direction: column;
}

.flow > *,
.flow-reverse > * {
  flex: 1;
}

@media (min-width: 768px) {
  .flow,
  .flow-reverse {
    flex-direction: row;
    align-items: center;
  }
  .flow-reverse {
    flex-direction: row-reverse;
  }
}

/* articles */
.articles {
  display: flex;
  flex-direction: column;
  padding-top: 42px;
  gap: 48px;
}

/** COMPOSANTS */

/** Header*/

.logo {
  padding: 30px 145px 30px 105px;
}

/* nav */

.header-nav {
  justify-self: center;
  padding-top: 30px;
  padding-bottom: 30px;
  gap: 50px;
}

.header-nav ul {
  display: flex;
  align-items: center;
  width: 36.75rem;
  height: 1.5rem;
  gap: var(--spacing-2xl);
  top: 1.875rem;
  left: 25.281rem;
}

.header-nav li {
  list-style: none;
  font-weight: var(--font-weight-normal);
}

.special-weight {
  font-weight: var(--font-weight-button) !important;
}

/* login & sing-up buttons */

.logins {
  display: flex;
  padding: 22px 121.51px 22px 145px;
  height: 40px;
  width: 91px;
  gap: 14px;
  align-items: center;
  line-height: 20px;
}

.login {
  background-color: var(--color-silver);
  color: var(--color-primary);
  padding: 10px 20px;
  line-height: 20px;
  border-radius: var(--radius-logins);
  width: 77px;
  height: 40px;
  font-size: var(--font-size-base);
  justify-content: center;
  gap: 10px;
}

.sing-up {
  padding: 10px 20px;
  border-radius: var(--radius-logins);
  line-height: 20px;
  width: 91px;
  height: 40px;
  font-size: var(--font-size-base);
  justify-content: center;
  white-space: nowrap;
  gap: 10px;
}

/*hero section */

.pc-content {
  display: flex;
  background-color: var(--color-silver);
  width: 100vw;
  justify-content: center;
  width: 1441px;
  height: 599px;
  padding: 96px 144px 96px 144px;
  gap: 104px;
  align-items: center;
}

.title-button h1 {
  margin: 0;
  white-space: nowrap;
}

.title-article p {
  margin-top: 16px;
}
.title-image {
  width: 391px;
  height: 407px;
}

.register {
  gap: 10px;
  padding: 14px 32px 14px 32px;
}

/*cards*/

.container-title {
  margin-bottom: 4px;
}

.text-center {
  padding: 8px;
  margin-top: 4px;
}

.cards {
  display: flex;
  gap: 127.5px;
  padding-left: 9rem;
  padding-right: 9rem;
  justify-content: space-between;
  width: 1440px;
  height: 280px;
  padding-bottom: 10px;
  padding-top: 10px;
}

.card {
  background-color: var(--color-white);
  text-align: center;
  border-radius: var(--radius-card);
  padding: 24px 32px 24px 32px;
  box-shadow: var(--shadow-md);
  width: 299px;
  height: 260px;
}

.card-special {
  width: 299px;
  height: 280px;
}

.card-container {
  text-align: center;
}

.card-image {
  width: 65px;
  height: 56px;
}

.card-title {
  font-weight: var(--font-weight-card);
  margin-top: 16px;
  margin-bottom: 8px;
}

.card-article {
  line-height: var(--line-height-base);
  margin: 0;
  margin-top: 8px;
  width: 251px;
  height: 60px;
}

.special {
  width: 240px;
  height: 80px;
}

/* article 1 */
.mobile {
  display: flex;
  justify-content: center;
}

.section-mobile {
  display: flex;
  background-color: var(--color-white);
  width: 100vw;
  align-items: center;
  justify-content: center;
}

.mobile-content {
  width: 601px;
  height: 268px;
  margin-right: 144px;
}

.mobile-content h2 {
  margin-top: 0;
  margin-bottom: 0;
}

.mobile-image {
  width: 442px;
  height: 433px;
  margin-left: 144px;
  margin-right: 49px;
}

/* article 2 */

.lock {
  display: flex;
  justify-content: center;
}

.section-lock {
  display: flex;
  background-color: var(--color-white);
  width: 100vw;
  align-items: center;
  justify-content: center;
}

.lock-content {
  width: 601px;
  height: 268px;
  margin-right: 144px;
}

.lock-content h2 {
  white-space: nowrap;
  margin-top: 0;
  margin-bottom: 0;
}

/* footer*/
.footer-box-grey {
  width: 1200px;
  height: 364px;
  gap: 32px;
  background-color: var(--color-silver);
  padding: 64px 156.5px 148px 156.5px;
  margin: 0 120px 0 120px;
  border-radius: var(--raduis-lm);
}

.footer-title {
  margin-top: 0;
  margin-bottom: 0;
  width: 887px;
  height: 152px;
  text-align: center;
}

.footer-button {
  margin-top: 32px;
  margin-left: 366.5px;
  margin-right: 366.5px;
  width: 154px;
  margin-bottom: 64px;
}

.footer-copyright {
  display: flex;
  background-color: var(--color-black);
  justify-content: center;
  text-align: center;
  padding: 42px;
  margin-top: 42px;
  gap: 8px;
}

.footer-copyright p {
  gap: 40px;
  color: var(--color-silver);
}

/**UTILITAIRES */
.gap-lg {
  gap: var(--spacing-lg);
}

/* DARK-MODE */
.dark-mode-switch {
  display: flex;
  background-color: var(--color-primary);
  border-radius: var(--radius-logins);
  width: 35px;
  height: 15px;
  position: relative;
  cursor: pointer;
  padding: 5px;
  left: 125px;
  transition: background-color 0.3s ease;
}

.switch-circle {
  width: 15px;
  height: 15px;
  background-color: white;
  border-radius: var(--radius-logins);
  position: absolute;
  left: 5px;
  bottom: 0;
  transition: left 0.3s ease;
}

body.dark-mode .switch-circle {
  left: 20px;
  background-color: var(--color-primary);
}

body.dark-mode .dark-mode-switch {
  background-color: var(--color-silver);
}

body.dark-mode header {
  background-color: var(--dark-mode-Dgrey);
}

body.dark-mode footer {
  background-color: var(--dark-mode-Lgrey);
}

body.dark-mode .content {
  background-color: var(--dark-mode-Lgrey);
}

body.dark-mode .header-nav a {
  color: var(--color-silver);
}

body.dark-mode h1 {
  color: var(--dark-mode-grey-blue);
}
body.dark-mode h2 {
  color: var(--dark-mode-black);
}
body.dark-mode h3 {
  color: var(--dark-mode-black);
}

body.dark-mode p {
  color: var(--color-white);
}

body.dark-mode .pc-content {
  background-color: var(--dark-mode-Dgrey);
}

body.dark-mode .card-container {
  background-color: var(--dark-mode-Lgrey);
}

body.dark-mode .card {
  background-color: var(--dark-mode-Lgrey);
  box-shadow: var(--shadow-dm);
}

body.dark-mode .articles {
  background-color: var(--dark-mode-Lgrey);
}

body.dark-mode .section-mobile {
  background-color: var(--dark-mode-Lgrey);
}

body.dark-mode .section-lock {
  background-color: var(--dark-mode-Lgrey);
}

body.dark-mode .footer-box-grey {
  background-color: var(--dark-mode-Dgrey);
}
